.header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #f1f3f4;
  padding: 15px 0 0 0;
  font-family: var(--ff-primary);
  font-size: 14px;
  width: 1170px;
  margin: 0 auto;
}

.header-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 1170px;
}

.header-main > a {
  margin-top: 15px;
}
