<div class="back">
  <a href="javascript:history.back()">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    <span>Voltar</span>
  </a>
</div>

<div class="details">
  <aside>
    <img class="movie_poster" [src]="movie?.poster_path" [alt]="movie?.title" />
  </aside>
  <main>
    <h1>{{ movie?.title }}</h1>
    <div class="movieInfo">
      <ul>
        <li>
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <strong> Duração</strong>: {{ movie?.runtime }} minutos
        </li>
        <li>
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <strong> Lançamento</strong>: {{ movie?.release_date | date: 'dd/MM/yyyy'}}
        </li>
        <li>
          <i class="fa fa-globe" aria-hidden="true"></i>
          <strong> Idioma original</strong>: {{ movie?.original_language }}
        </li>
        <li>
          <i class="fa fa-align-justify" aria-hidden="true"></i>
          <strong> Título original</strong>: {{ movie?.original_title }}
        </li>
        <li>
          <i class="fa fa-file-text" aria-hidden="true"></i>
          <strong> Sinopse</strong>: {{ movie?.overview }}
        </li>
      </ul>
    </div>
  </main>
</div>
