<section class="section">
  <div class="header">
    <h1>{{ movie?.title }}</h1>
  </div>
  <div class="summary-info">
    <div class="runtime">
      <span class="time">{{ movie?.runtime }}</span>
      <span class="minutes">minutos</span>
    </div>
    <div class="statistic">
      <div class="info">
        <span class="time">{{ movie?.vote_average }}</span>
        <span class="minutes">Média de votos</span>
      </div>
      <div class="info">
        <span class="time">{{ movie?.vote_count}}</span>
        <span class="minutes">Total de votos</span>
      </div>
      <div class="info">
        <span class="time">{{ movie?.popularity }}</span>
        <span class="minutes">Popularidade</span>
      </div>
      <div class="info">
        <span class="time">{{ movie?.release_date | date: 'yyyy' }}</span>
        <span class="minutes">Lançamento</span>
      </div>
    </div>
  </div>
</section>

<section class="story">
  <h1>Sinopse</h1>
  <div class="overview">
    <img [src]="movie?.poster_path" [alt]="movie?.title" />
    <p>{{ movie?.overview }}</p>
  </div>
<section>

<app-similar-movie></app-similar-movie>
