.section {
  background: #34495e;
  margin: 0 auto;;
}

.header {
  color: #fff;
  font-family: var(--ff-secondary);
  font-size: 20px;
  width: 100%;
  margin: 0 auto;
  max-width: 1130px;
}

.summary-info {
  display: flex;
  max-width: 1130px;
  margin: 15px auto;
  font-family: var(--ff-secondary);

  .statistic {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    border-radius: 30px;
    border: solid 1px #fff;
    border-left: none;
    margin-left: -65px;
    padding: 10px 40px 10px 95px;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .runtime {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    border: solid 1px #fff;
    padding: 10px 10px 10px 10px;
  }

  .time {
    color: #fff;
    font-weight: 600;
  }

  .minutes {
    color: #fff;
    font-size: 10px;
  }
}

.story {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1130px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: var(--ff-secondary);

  h1 {
    font-weight: 600;
  }

  .overview {
    display: flex;
    flex-direction: row;

    img {
      max-width: 320px;
      margin-top: 15px;
    }

    p {
      padding: 15px 20px 20px 30px;
    }
  }
}
