@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
  --clr-background: #f4f4f4;
  --clr-header: #1565C0;
  --clr-footer: #e5e5e5;
  --clr-title: #fad217;
  --clr-grey-10: #f1f5f8;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-size: 0.875rem;
  margin-bottom: 100px;
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 500;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.section {
  padding: 1rem 0;
  position: relative;
}

.section-center {
  // width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
